subscription_id          = "00000000-0000-0000-0000-000000000000"
resource_group_name      = "olist-rg"
location                 = "eastus"
environment              = "dev"
grant_current_user_rbac  = true
